body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 30px;
}

table {
    background-color: white;
    border-collapse: collapse;
    width: 600px;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: darkblue;
    color: white;
}